{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<body>
    <section class="container">
        <div class="jumbotron-fluid about-title mt-2">
            <h1 class="pt-2">{% trans "Password Reset" %}</h1>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center mt-3">
                <div class="border card">
                    <p class="center">Hi {{user.username}}, have you forgotten your password?<br>
                        Please send an email to TheLuckyRollCafe@gmail.com for a temporary password<br>
                        <hr>
                    <a class="link center" href="{% url 'home' %}">Back to the home page</a>
                    </p>
                </div> 
                
            </div>
        </div>
        
    
                
    </section>
</body>
    

    
{% endblock content %}
