<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Bookings list</h1>
    {% for booking in object_list %}
    <h2>{{booking.user}}</h2>
    <p>Date: {{booking.booking_date}}</p>
    <p>Time: {{booking.time}}</p>
    <p>Number of guests: {{booking.num_of_guests}}</p>
    <p>{{booking.table_type}}</p>
    {% endfor %}
</body>

</html>