{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <h1>
        Book a table
    </h1>
    <p>Fill out the following form to book a table</p>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Book your table</h3>
                <p>Posting as: {{ user.username }}</p>
                    <form id="bookingForm" method="post"
                        style="margin-top: 1.3em;">
                        {{ booking_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit"
                            class="btn btn-signup btn-lg">Submit</button>
                    </form>
            {% else %}
                    <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}