{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<body>
    <section class="container mb-5">
        <div class="jumbotron-fluid about-title mt-2">
            <h1>Book your table</h1>
        </div>
        <div class="row card border m-4">
            <div class="card-body">
                    <p>Welcome {{ user.username }}, please selected from the following options</p>
                        <form method="POST" action="{% url 'book' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button id="submitButton" type="submit"
                                class="btn btn-signup btn-lg">Submit</button>
                        </form>
                {% else %}
                        <p>Oops! You need to be signed in, in order to book a table.</p>
                {% endif %}
            </div>
        </div>
    </section>
</body>

{% endblock %}