{% extends "base.html" %}

{% load static %}



{% block content %}
<section>
    <div class="row">
        <div class="column hero-image-1">
            <!-- <img src="static/images/lucky_roll_images/coffee-2.jpg" alt="Snow" style="width:100%"> -->
            <h3 class="jumbotron-fluid home-title"><span class="bold">Coffee</span></h3>
        </div>
        <div class="column hero-image-2">
            <!-- <img src="static/images/lucky_roll_images/games.jpg" alt="Snow" style="width:100%"> -->
            <h3 class="jumbotron-fluid home-title">Board Games</h3>
        </div>
    </div>
</section>
{% endblock %}