{% extends "base.html" %}

{% load static %}

{% block title %}My Bookings{% endblock %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block content %}
<body>
    <section>
        <div class="row">
            <div class="jumbotron-fluid about-title mt-2">
                <h3 class="mb-0">My Bookings</h3>
            </div>
            <div class="row">
                <p class="d-flex justify-content-center mt-3">Check out your bookings below and edit or delete them if there is a mistake</p>
            </div>
        </div>
        <div>
            <div class="card border">
                {% for booking in user_bookings %}
                <p>Username: {{booking.user}}</p>
                <p>Date: {{booking.booking_date}}</p>
                <p>Time: {{booking.time}}</p>
                <p>Guests: {{booking.num_of_guests}}</p>
                <p>Added Information: {{booking.additional_message}}</p>
                <hr>
                
            </div>
            
            <div class="row">
                <div class="col">
                    <a href="{% url 'book' %}">
                        <button type="button" class="btn">New Booking</button></a>
                </div>
                <div class="col">
                    <a href="{% url 'edit_my_bookings' booking.slug %}">
                        <button type="button" class="btn">Edit Bookings</button></a>
                </div>
                {% endfor %}
            </div>
            
            
        </div>
    </section>
</body>





<!-- <div>
    {% for booking in user_bookings %}
    

    User:{{booking.user}}
    First Name: {{booking.first_name}}
    Last Name:{{booking.last_name}}
    Guests:  
    {% endfor %}
</div> -->

{% endblock content %}