{% extends "base.html" %}

{% load static %}

{% block title %}My Bookings{% endblock %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block content %}

    <section class="content-wrap">
        <div class="row">
            <div class="jumbotron-fluid about-title mt-2">
                <h3 class="mb-0">My Bookings</h3>
            </div>
            {% if user_bookings %}
                
            <div class="row">
                <p class="d-flex justify-content-center center mt-3">Check out your bookings below. Here you can create a new booking, edit current bookings or delete bookings</p>
                <div class="col m-1 center">
                    <a href="{% url 'book' %}" class="btn" aria-label="create new booking">
                        Create new booking</a>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card border">

                
                {% for booking in user_bookings %}

                <p class="m-3">Username: {{booking.user}}</p>
                <p class="m-3">Date: {{booking.booking_date}}</p>
                <p class="m-3">Time: {{booking.time}}</p>
                <p class="m-3">Guests: {{booking.num_of_guests}}</p>
                <p class="m-3">Added Information: {{booking.additional_message}}</p>
                
                <div class="row d-flex justify-content-center">
                    <div class="col-2 center m-1">
                        <a href="{% url 'edit_my_bookings' booking.slug %}" class=" btn">
                            Edit Booking</a>
                    </div>
                    <div class=" col-2 center m-1">
                        <button type="button" class=" btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletebooking-{{booking.id}}">Delete Booking</button>
                        <div class="modal modal-no-margin fade" id="deletebooking-{{booking.id}}" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                                <div class="modal-content col modal-no-margin">
                                    <div class="modal-header d-flex justify-content-center">
                                        <h2 class="display-4 m-5">Confirm your choice</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h2 class="display-4 m-5">Are you sure?</h2>
                                        <p class="font-white emphasised m-5">This will delete this booking?</p>
                                        <a class="btn" href="{% url 'deletebooking' booking.slug %}">Yes, delete</a>
                                        <a class="btn" href="{% url 'my_bookings' %}">No, cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr class="mt-1">
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="center mt-5">
                        <p>There are no bookings yet, click below to make one.</p>
                        <a href="{% url 'book' %}" class="btn" aria-label="create new booking">
                            Create New Booking</a>
                    </div>
                        
                    {% endif %} 
                </div>
            </div>
        </div>
    </section>


{% endblock content %}