{% extends "base.html" %}

{% load static %}

{% block title %}My Bookings{% endblock %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block content %}
<body>
    <section>
        <div class="row">
            <div class="jumbotron-fluid about-title mt-2">
                <h3 class="mb-0">My Bookings</h3>
            </div>
            <div class="row">
                <p class="d-flex justify-content-center mt-3">Check out your bookings below and edit or delete them if there is a mistake</p>
            </div>
        </div>
        <div class="m-3">
            <div class="card border">
                {% for booking in user_bookings %}
                <p class="m-3">Username: {{booking.user}}</p>
                <p class="m-3">Date: {{booking.booking_date}}</p>
                <p class="m-3">Time: {{booking.time}}</p>
                <p class="m-3">Guests: {{booking.num_of_guests}}</p>
                <p class="m-3">Added Information: {{booking.additional_message}}</p>
                
                <div class="row">
                    <div class="col m-1">
                        <a href="{% url 'book' %}">
                            <button type="button" class="btn">New Booking</button></a>
                    </div>
                    <div class="col m-1">
                        <a href="{% url 'edit_my_bookings' booking.slug %}">
                            <button type="button" class="btn">Edit Booking</button></a>
                    </div>
                    <div class="col m-1">
                        <a href="{% url 'deletebooking' booking.slug %}">
                            <button type="button" class="btn-danger">Delete Booking</button></a>
                    </div>
                    <hr class="mt-1">
                    {% endfor %}
                </div>
            </div>
            
            
            
            
        </div>
    </section>
</body>





<!-- <div>
    {% for booking in user_bookings %}
    

    User:{{booking.user}}
    First Name: {{booking.first_name}}
    Last Name:{{booking.last_name}}
    Guests:  
    {% endfor %}
</div> -->

{% endblock content %}