{% extends "base.html" %}

{% load static %}

{% block title %}Edit Profile{% endblock %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block content %}

    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="jumbotron-fluid about-title mt-2">
                    <h1 class="mb-0">{{user.username}}'s Profile</h1>
                </div>
                <div class="card border mt-2">
                    <div class="card-body">
                        <p class="d-flex justify-content-center center mt-3">Check out your profile below.<br>
                            Here you can change your username, names and password.<br>
                            You can also delete your account.</p>
                    </div>
                </div>
                <div class="col border m-4">
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn">Update Profile</button>
                        </form>
                    </div>
                    <div class="mt-2">
                        <a class="btn" href="{% url 'account_reset_password' %}">Reset Password</a>
                    </div>
                    <div>
                        <button type="button" class=" btn btn-danger px-3 mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#delete">Delete account</button>
                        <div class="modal modal-no-margin fade" id="delete" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                                <div class="modal-content col modal-no-margin">
                                    <div class="modal-header d-flex justify-content-center">
                                        <h2 class="display-4 m-5">Confirm your choice</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h3 class="display-4 m-5">Are you sure?</h3>
                                        <p class="font-white emphasised m-5">If you delete your account you will loose access to 
                                        both your profile and your bookings!
                                        </p>
                                            <a class="btn btn-danger" href="{% url 'deleteaccount' %}" class="col-lg-3">
                                                Yes, delete
                                            </a>
                                            <a class="btn" href="{% url 'my_profile' %}">No, cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}