{% extends "base.html" %}

{% load static %}

{% block content %}
<section>
    <div class="row-fluid d-flex justify-content-center">
        <div class="col-sm-12 col-lg-7 text-center">
            <h1 class="display-4 m-5 text-capitalize font-brown">{{ user.username}}'s Profile</h1>
            <p class="emphasised">Hello, {{ user.username}}! Thank you for signing in!</p>
            <p class="emphasised">Here you can find and manage your profile details as well as your bookings!</p>
        </div>
    </div>
</section>
{% endblock %}