@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    min-height: 100vh;
    font-family: "Cinzel Decorative", sans-serif;
    margin-bottom: 200px;
}

.bold {
    font-weight: bold;
}

.brand {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 10 rem;
    font-weight: 700;
    color: blue;
}

.navbar-brand {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 30px;
    color: white;
    margin: 2px;
}

.nav-logo {
    width: 10%;
    border-radius: 50%;
    margin: 5px;
}

.home-title {
    color: #222222;
    margin-top: 10px;
    border: solid 2px black;
    background-color:#BBCDE5;
    width: 40%;
    text-align: center;
}

.row {
    max-height: 50vh;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

img {
    max-height: 100vh;
}

.images {
    height: 100px;
}

.navbar {
    background-color: #3A5A40;
}

.nav-link {
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #3A5A40;
    color: white;
}

.hero-image-1 {
    background-image: url("/static/images/lucky_roll_images/coffee-2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero-image-2 {
    background-image: url("/static/images/lucky_roll_images/games.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.jumbotron-fluid {
    margin: auto;
}

.light-bg {
    background-color: #fff;
}

.main-bg {
    background-color: #F9FAFC;
}

#bookingForm {
    background-color: #E84610;
}

.background-about {
    background-color: #DAD7CD;
}

.card-style {
    margin: 5%;
}

.menu-pic {
    height: 70vh;
}

.our-games-img {
    height: 50vh;
}

.modal-no-margin {
    margin: 0%!important;
}

.carousel-item img {
    height: 50vh!important;
    overflow: hidden;
    margin: 0 auto;
}

.bg-trans-black {
    background-color: rgba(30, 19, 10, 0.5);
    backdrop-filter: blur(4px);
}

.font-carousel {
    color: #fff;
}

/* 
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
} */